# {{ ansible_managed }}

{% for host in groups['ipsecsrv'] %}
{% if not ansible_hostname == hostvars[host].ansible_hostname %}

{{ ansible_enp0s3.ipv4.address }} {{ hostvars[host].ansible_enp0s3.ipv4.address }} :  PSK {{ ipsec_vpn_psk }}


{% endif %}
{% endfor %}
